body{
  font-size: 18px;
  line-height: 1.5em;
  color: #000;
}

ul{
  display: flex;
  justify-content: center;
}
li a{
  text-decoration: none;
  color: #000;
  margin: 0 1em;
}
.w1{
  margin: 0 auto;
  max-width: 900px;
}
h2{
  text-align: center;

}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
dl dt, dl dd {
  box-sizing: border-box;
}
dl dt {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 20px;
  background-color: #AEDFBE;
  border-bottom: 1px solid #999;
}
dl dt:last-of-type,
dl dd:last-of-type {
  border: none;
}
dl dd {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 0;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #999;
}
